#main{
    margin: 25px;
}

#part{
    font-size: 30px;
    font-weight: 600;
}

#next-btn{
    float: right;
}

hr{
   opacity: 0.2;
}

#question{
    font-size: 18px;
    color: black;
    font-weight: 500;
}

#backHome{
    float: right;
    color: #0f51ff;
}

#link{
    text-decoration: none;
}
